spec/fixtures/metanorma-model-iso-grammars/basicdoc.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <group name="pure_em">
    <sequence>
      <element name="em">
        <complexType mixed="false">
          <sequence>
            <group ref="PureTextElement"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="pure_strong">
    <sequence>
      <element name="strong">
        <complexType mixed="false">
          <sequence>
            <group ref="PureTextElement"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="pure_tt">
    <sequence>
      <element name="tt">
        <complexType mixed="false">
          <sequence>
            <group ref="PureTextElement"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="pure_underline">
    <sequence>
      <element name="underline">
        <complexType mixed="false">
          <sequence>
            <group ref="PureTextElement"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="pure_strike">
    <sequence>
      <element name="strike">
        <complexType mixed="false">
          <sequence>
            <group ref="PureTextElement"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="pure_smallcap">
    <sequence>
      <element name="smallcap">
        <complexType mixed="false">
          <sequence>
            <group ref="PureTextElement"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="PureTextElement">
    <choice minOccurs="0" maxOccurs="1">
      <element ref="sub"/>
      <element ref="sup"/>
      <element ref="br"/>
      <element ref="stem"/>
      <group ref="pure_em"/>
      <group ref="pure_strong"/>
      <group ref="pure_tt"/>
      <group ref="pure_underline"/>
      <group ref="pure_strike"/>
      <group ref="pure_smallcap"/>
    </choice>
  </group>
  <group name="ErefBody">
    <sequence>
      <element name="display-text">
        <complexType mixed="false">
          <sequence>
            <group ref="PureTextElement"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="XrefBody">
    <sequence>
      <element name="display-text">
        <complexType mixed="false">
          <sequence>
            <group ref="PureTextElement"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="hyperlink">
    <sequence>
      <element ref="link"/>
    </sequence>
  </group>
  <group name="index-primary">
    <sequence>
      <element ref="primary"/>
    </sequence>
  </group>
  <group name="index-secondary">
    <sequence>
      <element ref="secondary"/>
    </sequence>
  </group>
  <group name="index-tertiary">
    <sequence>
      <element ref="tertiary"/>
    </sequence>
  </group>
  <group name="ruby_pronunciation">
    <sequence>
      <element ref="pronunciation"/>
    </sequence>
  </group>
  <group name="ruby_annotation">
    <sequence>
      <element name="annotation">
        <complexType mixed="false">
          <sequence>
            <group ref="LocalizedStringAttributes"/>
          </sequence>
          <attribute use="optional" name="value" type="xs:string"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="NestedTextElement">
    <choice>
      <element ref="eref"/>
      <element ref="xref"/>
      <element ref="index"/>
      <element ref="index-xref"/>
      <element ref="ruby"/>
      <element ref="keyword"/>
      <group ref="PureTextElement"/>
      <group ref="hyperlink"/>
    </choice>
  </group>
  <group name="em">
    <sequence>
      <element name="em">
        <complexType mixed="false">
          <sequence>
            <group ref="NestedTextElement"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="strong">
    <sequence>
      <element name="strong">
        <complexType mixed="false">
          <sequence>
            <group ref="NestedTextElement"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="tt">
    <sequence>
      <element name="tt">
        <complexType mixed="false">
          <sequence>
            <group ref="NestedTextElement"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="underline">
    <sequence>
      <element name="underline">
        <complexType mixed="false">
          <sequence>
            <group ref="NestedTextElement"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="strike">
    <sequence>
      <element name="strike">
        <complexType mixed="false">
          <sequence>
            <group ref="NestedTextElement"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="smallcap">
    <sequence>
      <element name="smallcap">
        <complexType mixed="false">
          <sequence>
            <group ref="NestedTextElement"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="image">
    <sequence>
      <element name="image">
        <complexType mixed="false">
          <attributeGroup ref="RequiredId"/>
          <attributeGroup ref="ImageAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="TextElement">
    <choice minOccurs="0" maxOccurs="1">
      <element ref="eref"/>
      <element ref="stem"/>
      <element ref="sub"/>
      <element ref="sup"/>
      <element ref="keyword"/>
      <element ref="ruby"/>
      <element ref="xref"/>
      <element ref="br"/>
      <element ref="hr"/>
      <element ref="pagebreak"/>
      <element ref="bookmark"/>
      <element ref="index"/>
      <element ref="index-xref"/>
      <group ref="em"/>
      <group ref="strong"/>
      <group ref="tt"/>
      <group ref="underline"/>
      <group ref="strike"/>
      <group ref="smallcap"/>
      <group ref="hyperlink"/>
      <group ref="image"/>
    </choice>
  </group>
  <group name="section-title">
    <sequence>
      <element ref="title"/>
    </sequence>
  </group>
  <group name="ParagraphBody">
    <sequence>
      <group ref="TextElement"/>
      <group ref="note"/>
    </sequence>
  </group>
  <group name="paragraph">
    <sequence>
      <element name="p">
        <complexType mixed="false">
          <sequence>
            <group ref="ParagraphType"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="NoteBody">
    <sequence>
      <group ref="paragraph"/>
    </sequence>
  </group>
  <group name="note">
    <sequence>
      <element name="note">
        <complexType mixed="false">
          <sequence>
            <group ref="NoteBody"/>
          </sequence>
          <attributeGroup ref="RequiredId"/>
          <attributeGroup ref="NoteAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="FnBody">
    <sequence>
      <group ref="paragraph"/>
    </sequence>
  </group>
  <group name="ParagraphFnBody">
    <sequence>
      <choice minOccurs="0" maxOccurs="unbounded">
        <element ref="fn"/>
        <group ref="TextElement"/>
      </choice>
      <group ref="note"/>
    </sequence>
  </group>
  <group name="paragraph-with-footnote">
    <sequence>
      <element name="p">
        <complexType mixed="false">
          <sequence>
            <group ref="ParagraphFnBody"/>
          </sequence>
          <attributeGroup ref="RequiredId"/>
          <attributeGroup ref="ParagraphAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="tname">
    <sequence>
      <element ref="name"/>
    </sequence>
  </group>
  <group name="TdBody">
    <choice>
      <group ref="paragraph-with-footnote"/>
      <group ref="TextElement" minOccurs="0" maxOccurs="unbounded"/>
    </choice>
  </group>
  <group name="td">
    <sequence>
      <element name="td">
        <complexType mixed="false">
          <sequence>
            <group ref="TdBody"/>
          </sequence>
          <attributeGroup ref="TdAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="ThBody">
    <sequence>
      <group ref="TdBody"/>
    </sequence>
  </group>
  <group name="th">
    <sequence>
      <element name="th">
        <complexType mixed="false">
          <sequence>
            <group ref="ThBody"/>
          </sequence>
          <attributeGroup ref="ThAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="tr">
    <sequence>
      <element name="tr">
        <complexType mixed="false">
          <sequence>
            <choice minOccurs="1" maxOccurs="unbounded">
              <group ref="td"/>
              <group ref="th"/>
            </choice>
            <group ref="TrAttributes"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="thead">
    <sequence>
      <element name="thead">
        <complexType mixed="false">
          <sequence>
            <group ref="tr"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="tbody">
    <sequence>
      <element name="tbody">
        <complexType mixed="false">
          <sequence>
            <group ref="tr"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="tfoot">
    <sequence>
      <element name="tfoot">
        <complexType mixed="false">
          <sequence>
            <group ref="tr"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="dd">
    <sequence>
      <element name="dd">
        <complexType mixed="false">
          <sequence>
            <group ref="paragraph-with-footnote"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="DlBody">
    <sequence>
      <sequence minOccurs="1" maxOccurs="unbounded">
        <element ref="dt"/>
        <group ref="dd"/>
      </sequence>
      <group ref="note"/>
    </sequence>
  </group>
  <group name="dl">
    <sequence>
      <element name="dl">
        <complexType mixed="false">
          <sequence>
            <group ref="DlAttributes"/>
            <group ref="DlBody"/>
          </sequence>
          <attributeGroup ref="RequiredId"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="table-note">
    <sequence>
      <element name="note">
        <complexType mixed="false">
          <sequence>
            <group ref="paragraph"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="TableBody">
    <sequence>
      <group ref="tname"/>
      <group ref="thead"/>
      <group ref="tbody"/>
      <group ref="tfoot"/>
      <group ref="dl"/>
      <group ref="table-note"/>
    </sequence>
  </group>
  <group name="table">
    <sequence>
      <element name="table">
        <complexType mixed="false">
          <sequence>
            <group ref="TableBody"/>
          </sequence>
          <attributeGroup ref="RequiredId"/>
          <attributeGroup ref="TableAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="FormulaBody">
    <sequence>
      <element ref="stem"/>
      <group ref="dl"/>
      <group ref="note"/>
    </sequence>
  </group>
  <group name="formula">
    <sequence>
      <element name="formula">
        <complexType mixed="false">
          <sequence>
            <group ref="FormulaBody"/>
          </sequence>
          <attributeGroup ref="RequiredId"/>
          <attributeGroup ref="FormulaAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="AdmonitionBody">
    <sequence>
      <group ref="tname"/>
      <group ref="paragraph-with-footnote"/>
      <group ref="note"/>
    </sequence>
  </group>
  <group name="admonition">
    <sequence>
      <element name="admonition">
        <complexType mixed="false">
          <sequence>
            <group ref="AdmonitionBody"/>
          </sequence>
          <attributeGroup ref="RequiredId"/>
          <attributeGroup ref="AdmonitionAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="LiBody">
    <sequence>
      <group ref="paragraph-with-footnote"/>
    </sequence>
  </group>
  <group name="li">
    <sequence>
      <element name="li">
        <complexType mixed="false">
          <sequence>
            <group ref="LiAttributes"/>
            <group ref="LiBody"/>
          </sequence>
          <attributeGroup ref="OptionalId"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="OlBody">
    <sequence>
      <group ref="li"/>
      <group ref="note"/>
    </sequence>
  </group>
  <group name="ol">
    <sequence>
      <element name="ol">
        <complexType mixed="false">
          <sequence>
            <group ref="OlBody"/>
          </sequence>
          <attributeGroup ref="RequiredId"/>
          <attributeGroup ref="OlAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="UlBody">
    <sequence>
      <group ref="li"/>
      <group ref="note"/>
    </sequence>
  </group>
  <group name="ul">
    <sequence>
      <element name="ul">
        <complexType mixed="false">
          <sequence>
            <group ref="UlAttributes"/>
            <group ref="UlBody"/>
          </sequence>
          <attributeGroup ref="RequiredId"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="source">
    <sequence>
      <element name="source">
        <complexType mixed="false">
          <sequence>
            <group ref="TypedUri"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="VideoBody">
    <sequence>
      <element ref="altsource"/>
    </sequence>
  </group>
  <group name="video">
    <sequence>
      <element name="video">
        <complexType mixed="false">
          <sequence>
            <group ref="VideoBody"/>
          </sequence>
          <attributeGroup ref="RequiredId"/>
          <attributeGroup ref="VideoAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="AudioBody">
    <sequence>
      <element ref="altsource"/>
    </sequence>
  </group>
  <group name="audio">
    <sequence>
      <element name="audio">
        <complexType mixed="false">
          <sequence>
            <group ref="AudioBody"/>
          </sequence>
          <attributeGroup ref="RequiredId"/>
          <attributeGroup ref="AudioAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="PreBody">
    <sequence>
      <group ref="tname"/>
      <group ref="note"/>
    </sequence>
  </group>
  <group name="pre">
    <sequence>
      <element name="pre">
        <complexType mixed="false">
          <sequence>
            <group ref="PreBody"/>
          </sequence>
          <attributeGroup ref="RequiredId"/>
          <attributeGroup ref="PreAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="FigureBody">
    <sequence>
      <element ref="fn"/>
      <choice>
        <group ref="image"/>
        <group ref="video"/>
        <group ref="audio"/>
        <group ref="pre"/>
        <group ref="paragraph-with-footnote"/>
        <group ref="figure"/>
      </choice>
      <group ref="tname"/>
      <group ref="dl"/>
      <group ref="note"/>
      <group ref="source"/>
    </sequence>
  </group>
  <group name="figure">
    <sequence>
      <element name="figure">
        <complexType mixed="false">
          <sequence>
            <group ref="FigureBody"/>
          </sequence>
          <attributeGroup ref="RequiredId"/>
          <attributeGroup ref="FigureAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="quote-source">
    <sequence>
      <element name="source">
        <complexType mixed="false">
          <sequence>
            <group ref="erefType"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="quote-author">
    <sequence>
      <element ref="author"/>
    </sequence>
  </group>
  <group name="QuoteBody">
    <sequence>
      <group ref="quote-source"/>
      <group ref="quote-author"/>
      <group ref="paragraph-with-footnote"/>
      <group ref="note"/>
    </sequence>
  </group>
  <group name="quote">
    <sequence>
      <element name="quote">
        <complexType mixed="false">
          <sequence>
            <group ref="QuoteBody"/>
          </sequence>
          <attributeGroup ref="RequiredId"/>
          <attributeGroup ref="QuoteAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="sourcecodebody">
    <sequence>
      <element ref="body"/>
    </sequence>
  </group>
  <group name="annotation">
    <sequence>
      <element name="annotation">
        <complexType mixed="false">
          <sequence>
            <group ref="paragraph"/>
          </sequence>
          <attributeGroup ref="RequiredId"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="SourceBody">
    <sequence>
      <group ref="tname"/>
      <group ref="sourcecodebody"/>
      <group ref="annotation"/>
      <group ref="note"/>
    </sequence>
  </group>
  <group name="sourcecode">
    <sequence>
      <element name="sourcecode">
        <complexType mixed="false">
          <sequence>
            <group ref="SourceBody"/>
          </sequence>
          <attributeGroup ref="RequiredId"/>
          <attributeGroup ref="SourceAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="ExampleBody">
    <sequence>
      <choice minOccurs="1" maxOccurs="unbounded">
        <group ref="formula"/>
        <group ref="ul"/>
        <group ref="ol"/>
        <group ref="dl"/>
        <group ref="quote"/>
        <group ref="sourcecode"/>
        <group ref="paragraph-with-footnote"/>
      </choice>
      <group ref="tname"/>
      <group ref="note"/>
    </sequence>
  </group>
  <group name="example">
    <sequence>
      <element name="example">
        <complexType mixed="false">
          <sequence>
            <group ref="ExampleBody"/>
          </sequence>
          <attributeGroup ref="RequiredId"/>
          <attributeGroup ref="ExampleAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="classification_tag">
    <sequence>
      <element ref="tag"/>
    </sequence>
  </group>
  <group name="classification_value">
    <sequence>
      <element ref="value"/>
    </sequence>
  </group>
  <group name="BasicBlock">
    <choice>
      <element ref="review"/>
      <element ref="pagebreak"/>
      <element ref="hr"/>
      <element ref="bookmark"/>
      <element ref="amend"/>
      <group ref="paragraph-with-footnote"/>
      <group ref="table"/>
      <group ref="formula"/>
      <group ref="admonition"/>
      <group ref="ol"/>
      <group ref="ul"/>
      <group ref="dl"/>
      <group ref="figure"/>
      <group ref="quote"/>
      <group ref="sourcecode"/>
      <group ref="example"/>
      <group ref="pre"/>
      <group ref="note"/>
    </choice>
  </group>
  <group name="Basic-Section">
    <sequence>
      <group ref="Basic-Section-Attributes"/>
      <group ref="section-title"/>
      <group ref="BasicBlock"/>
    </sequence>
  </group>
  <group name="paragraph-with-footnote-no-id">
    <sequence>
      <element name="p">
        <complexType mixed="false">
          <sequence>
            <group ref="ParagraphFnBody"/>
          </sequence>
          <attributeGroup ref="OptionalId"/>
          <attributeGroup ref="ParagraphAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="TdNoIdBody">
    <choice>
      <group ref="paragraph-with-footnote-no-id"/>
      <group ref="TextElement" minOccurs="0" maxOccurs="unbounded"/>
    </choice>
  </group>
  <group name="td-no-id">
    <sequence>
      <element name="td">
        <complexType mixed="false">
          <sequence>
            <group ref="TdNoIdBody"/>
          </sequence>
          <attributeGroup ref="TdAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="ThNoIdBody">
    <sequence>
      <group ref="TdNoIdBody"/>
    </sequence>
  </group>
  <group name="th-no-id">
    <sequence>
      <element name="th">
        <complexType mixed="false">
          <sequence>
            <group ref="ThNoIdBody"/>
          </sequence>
          <attributeGroup ref="ThAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="tr-no-id">
    <sequence>
      <element name="tr">
        <complexType mixed="false">
          <choice minOccurs="1" maxOccurs="unbounded">
            <group ref="td-no-id"/>
            <group ref="th-no-id"/>
          </choice>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="thead-no-id">
    <sequence>
      <element name="thead">
        <complexType mixed="false">
          <sequence>
            <group ref="tr-no-id"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="tbody-no-id">
    <sequence>
      <element name="tbody">
        <complexType mixed="false">
          <sequence>
            <group ref="tr-no-id"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="tfoot-no-id">
    <sequence>
      <element name="tfoot">
        <complexType mixed="false">
          <sequence>
            <group ref="tr-no-id"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="paragraph-no-id">
    <sequence>
      <element name="p">
        <complexType mixed="false">
          <sequence>
            <group ref="ParagraphBody"/>
          </sequence>
          <attributeGroup ref="OptionalId"/>
          <attributeGroup ref="ParagraphAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="NoteNoIdBody">
    <sequence>
      <group ref="paragraph-no-id"/>
    </sequence>
  </group>
  <group name="note-no-id">
    <sequence>
      <element name="note">
        <complexType mixed="false">
          <sequence>
            <group ref="NoteNoIdBody"/>
          </sequence>
          <attributeGroup ref="OptionalId"/>
          <attributeGroup ref="NoteAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="dd-no-id">
    <sequence>
      <element name="dd">
        <complexType mixed="false">
          <sequence>
            <group ref="paragraph-with-footnote-no-id"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="DlNoIdBody">
    <sequence>
      <sequence minOccurs="1" maxOccurs="unbounded">
        <element ref="dt"/>
        <group ref="dd-no-id"/>
      </sequence>
      <group ref="note-no-id"/>
    </sequence>
  </group>
  <group name="dl-no-id">
    <sequence>
      <element name="dl">
        <complexType mixed="false">
          <sequence>
            <group ref="DlNoIdBody"/>
          </sequence>
          <attributeGroup ref="OptionalId"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="table-note-no-id">
    <sequence>
      <element name="note">
        <complexType mixed="false">
          <sequence>
            <group ref="paragraph-no-id"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="TableNoIdBody">
    <sequence>
      <group ref="tname"/>
      <group ref="thead-no-id"/>
      <group ref="tbody-no-id"/>
      <group ref="tfoot-no-id"/>
      <group ref="dl-no-id"/>
      <group ref="table-note-no-id"/>
    </sequence>
  </group>
  <group name="table-no-id">
    <sequence>
      <element name="table">
        <complexType mixed="false">
          <sequence>
            <group ref="TableNoIdBody"/>
          </sequence>
          <attributeGroup ref="OptionalId"/>
          <attributeGroup ref="TableAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="FormulaNoIdBody">
    <sequence>
      <element ref="stem"/>
      <group ref="dl-no-id"/>
      <group ref="note-no-id"/>
    </sequence>
  </group>
  <group name="formula-no-id">
    <sequence>
      <element name="formula">
        <complexType mixed="false">
          <sequence>
            <group ref="FormulaNoIdBody"/>
          </sequence>
          <attributeGroup ref="OptionalId"/>
          <attributeGroup ref="FormulaAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="AdmonitionNoIdBody">
    <sequence>
      <group ref="tname"/>
      <group ref="paragraph-with-footnote-no-id"/>
      <group ref="note-no-id"/>
    </sequence>
  </group>
  <group name="admonition-no-id">
    <sequence>
      <element name="admonition">
        <complexType mixed="false">
          <sequence>
            <group ref="AdmonitionNoIdBody"/>
          </sequence>
          <attributeGroup ref="OptionalId"/>
          <attributeGroup ref="AdmonitionAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="LiNoIdBody">
    <sequence>
      <group ref="paragraph-with-footnote-no-id"/>
    </sequence>
  </group>
  <group name="li-no-id">
    <sequence>
      <element name="li">
        <complexType mixed="false">
          <sequence>
            <group ref="LiAttributes"/>
            <group ref="LiNoIdBody"/>
          </sequence>
          <attributeGroup ref="OptionalId"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="OlNoIdBody">
    <sequence>
      <group ref="li-no-id"/>
      <group ref="note-no-id"/>
    </sequence>
  </group>
  <group name="ol-no-id">
    <sequence>
      <element name="ol">
        <complexType mixed="false">
          <sequence>
            <group ref="OlNoIdBody"/>
          </sequence>
          <attributeGroup ref="OptionalId"/>
          <attributeGroup ref="OlAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="UlNoIdBody">
    <sequence>
      <group ref="li-no-id"/>
      <group ref="note-no-id"/>
    </sequence>
  </group>
  <group name="ul-no-id">
    <sequence>
      <element name="ul">
        <complexType mixed="false">
          <sequence>
            <group ref="UlAttributes"/>
            <group ref="UlNoIdBody"/>
          </sequence>
          <attributeGroup ref="OptionalId"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="image-no-id">
    <sequence>
      <element name="image">
        <complexType mixed="false">
          <attributeGroup ref="OptionalId"/>
          <attributeGroup ref="ImageAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="video-no-id">
    <sequence>
      <element name="video">
        <complexType mixed="false">
          <sequence>
            <group ref="VideoBody"/>
          </sequence>
          <attributeGroup ref="OptionalId"/>
          <attributeGroup ref="VideoAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="audio-no-id">
    <sequence>
      <element name="audio">
        <complexType mixed="false">
          <sequence>
            <group ref="AudioBody"/>
          </sequence>
          <attributeGroup ref="OptionalId"/>
          <attributeGroup ref="AudioAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="PreNoIdBody">
    <sequence>
      <group ref="tname"/>
      <group ref="note-no-id"/>
    </sequence>
  </group>
  <group name="pre-no-id">
    <sequence>
      <element name="pre">
        <complexType mixed="false">
          <sequence>
            <group ref="PreNoIdBody"/>
          </sequence>
          <attributeGroup ref="OptionalId"/>
          <attributeGroup ref="PreAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="FigureNoIdBody">
    <sequence>
      <element ref="fn"/>
      <choice>
        <group ref="image-no-id"/>
        <group ref="video-no-id"/>
        <group ref="audio-no-id"/>
        <group ref="pre-no-id"/>
        <group ref="paragraph-with-footnote-no-id"/>
        <group ref="figure-no-id"/>
      </choice>
      <group ref="source"/>
      <group ref="tname"/>
      <group ref="dl-no-id"/>
      <group ref="note-no-id"/>
    </sequence>
  </group>
  <group name="figure-no-id">
    <sequence>
      <element name="figure">
        <complexType mixed="false">
          <sequence>
            <group ref="FigureNoIdBody"/>
          </sequence>
          <attributeGroup ref="OptionalId"/>
          <attributeGroup ref="FigureAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="QuoteNoIdBody">
    <sequence>
      <group ref="quote-source"/>
      <group ref="quote-author"/>
      <group ref="paragraph-with-footnote-no-id"/>
      <group ref="note-no-id"/>
    </sequence>
  </group>
  <group name="quote-no-id">
    <sequence>
      <element name="quote">
        <complexType mixed="false">
          <sequence>
            <group ref="QuoteNoIdBody"/>
          </sequence>
          <attributeGroup ref="OptionalId"/>
          <attributeGroup ref="QuoteAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="SourceNoIdBody">
    <sequence>
      <group ref="tname"/>
      <group ref="sourcecodebody"/>
      <group ref="annotation"/>
      <group ref="note-no-id"/>
    </sequence>
  </group>
  <group name="sourcecode-no-id">
    <sequence>
      <element name="sourcecode">
        <complexType mixed="false">
          <sequence>
            <group ref="SourceNoIdBody"/>
          </sequence>
          <attributeGroup ref="OptionalId"/>
          <attributeGroup ref="SourceAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="ExampleNoIdBody">
    <sequence>
      <choice minOccurs="1" maxOccurs="unbounded">
        <group ref="formula-no-id"/>
        <group ref="ul-no-id"/>
        <group ref="ol-no-id"/>
        <group ref="dl-no-id"/>
        <group ref="quote-no-id"/>
        <group ref="sourcecode-no-id"/>
        <group ref="paragraph-with-footnote-no-id"/>
      </choice>
      <group ref="tname"/>
      <group ref="note-no-id"/>
    </sequence>
  </group>
  <group name="example-no-id">
    <sequence>
      <element name="example">
        <complexType mixed="false">
          <sequence>
            <group ref="ExampleNoIdBody"/>
          </sequence>
          <attributeGroup ref="OptionalId"/>
          <attributeGroup ref="ExampleAttributes"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="BasicBlockNoId">
    <choice>
      <element ref="review"/>
      <element ref="pagebreak"/>
      <element ref="hr"/>
      <element ref="bookmark"/>
      <element ref="amend"/>
      <group ref="paragraph-with-footnote-no-id"/>
      <group ref="table-no-id"/>
      <group ref="formula-no-id"/>
      <group ref="admonition-no-id"/>
      <group ref="ol-no-id"/>
      <group ref="ul-no-id"/>
      <group ref="dl-no-id"/>
      <group ref="figure-no-id"/>
      <group ref="quote-no-id"/>
      <group ref="sourcecode-no-id"/>
      <group ref="example-no-id"/>
      <group ref="pre-no-id"/>
      <group ref="note-no-id"/>
    </choice>
  </group>
  <element name="bibdata">
    <complexType mixed="false">
      <sequence>
        <group ref="BibData"/>
      </sequence>
    </complexType>
  </element>
  <element name="sub">
    <complexType mixed="false">
      <sequence>
        <group ref="PureTextElement"/>
      </sequence>
    </complexType>
  </element>
  <element name="sup">
    <complexType mixed="false">
      <sequence>
        <group ref="PureTextElement"/>
      </sequence>
    </complexType>
  </element>
  <element name="br"/>
  <element name="stem">
    <complexType mixed="false">
      <attributeGroup ref="StemAttributes"/>
    </complexType>
  </element>
  <element name="eref">
    <complexType mixed="false">
      <sequence>
        <group ref="erefType"/>
      </sequence>
    </complexType>
  </element>
  <element name="xref">
    <complexType mixed="false">
      <sequence>
        <group ref="XrefBody"/>
      </sequence>
      <attributeGroup ref="XrefAttributes"/>
    </complexType>
  </element>
  <element name="link">
    <complexType mixed="false">
      <sequence>
        <group ref="PureTextElement"/>
      </sequence>
      <attributeGroup ref="HyperlinkAttributes"/>
    </complexType>
  </element>
  <element name="primary">
    <complexType mixed="false">
      <sequence>
        <group ref="PureTextElement"/>
      </sequence>
    </complexType>
  </element>
  <element name="secondary">
    <complexType mixed="false">
      <sequence>
        <group ref="PureTextElement"/>
      </sequence>
    </complexType>
  </element>
  <element name="tertiary">
    <complexType mixed="false">
      <sequence>
        <group ref="PureTextElement"/>
      </sequence>
    </complexType>
  </element>
  <element name="index">
    <complexType mixed="false">
      <sequence>
        <group ref="index-primary"/>
        <group ref="index-secondary"/>
        <group ref="index-tertiary"/>
      </sequence>
    </complexType>
  </element>
  <element name="target">
    <complexType mixed="false">
      <sequence>
        <group ref="PureTextElement"/>
      </sequence>
    </complexType>
  </element>
  <element name="index-xref">
    <complexType mixed="false">
      <sequence>
        <element ref="target"/>
        <group ref="index-primary"/>
        <group ref="index-secondary"/>
        <group ref="index-tertiary"/>
      </sequence>
      <attribute use="optional" name="also" type="xs:boolean"/>
    </complexType>
  </element>
  <element name="pronunciation">
    <complexType mixed="false">
      <sequence>
        <group ref="LocalizedStringAttributes"/>
      </sequence>
      <attribute use="optional" name="value" type="xs:string"/>
    </complexType>
  </element>
  <element name="ruby">
    <complexType mixed="false">
      <sequence>
        <choice>
          <group ref="ruby_pronunciation"/>
          <group ref="ruby_annotation"/>
        </choice>
        <group ref="ruby" minOccurs="0" maxOccurs="1"/>
      </sequence>
    </complexType>
  </element>
  <element name="keyword">
    <complexType mixed="false">
      <choice minOccurs="0" maxOccurs="unbounded">
        <element ref="index"/>
        <element ref="index-xref"/>
        <group ref="PureTextElement"/>
      </choice>
    </complexType>
  </element>
  <element name="hr"/>
  <element name="pagebreak"/>
  <element name="bookmark">
    <complexType mixed="false">
      <attributeGroup ref="RequiredId"/>
    </complexType>
  </element>
  <element name="title">
    <complexType mixed="false">
      <sequence>
        <group ref="TextElement"/>
      </sequence>
    </complexType>
  </element>
  <element name="fn">
    <complexType mixed="false">
      <sequence>
        <group ref="FnBody"/>
      </sequence>
      <attributeGroup ref="FnAttributes"/>
    </complexType>
  </element>
  <element name="name">
    <complexType mixed="false">
      <sequence>
        <group ref="NestedTextElement"/>
      </sequence>
    </complexType>
  </element>
  <element name="dt">
    <complexType mixed="false">
      <sequence>
        <group ref="TextElement"/>
      </sequence>
    </complexType>
  </element>
  <element name="altsource">
    <complexType mixed="false">
      <attributeGroup ref="MediaAttributes"/>
    </complexType>
  </element>
  <element name="author" type="xs:string"/>
  <element name="callout">
    <complexType mixed="false">
      <simpleContent>
        <extension base="xs:string">
          <attribute use="optional" name="target" type="xs:string"/>
        </extension>
      </simpleContent>
    </complexType>
  </element>
  <element name="body">
    <complexType mixed="false">
      <sequence>
        <element ref="callout" minOccurs="1" maxOccurs="unbounded"/>
      </sequence>
    </complexType>
  </element>
  <element name="review">
    <complexType mixed="false">
      <sequence>
        <group ref="paragraph"/>
      </sequence>
      <attributeGroup ref="RequiredId"/>
      <attributeGroup ref="ReviewAttributes"/>
    </complexType>
  </element>
  <element name="tag" type="xs:string"/>
  <element name="value" type="xs:string"/>
  <element name="classification">
    <complexType mixed="false">
      <sequence>
        <group ref="classification_tag"/>
        <group ref="classification_value"/>
      </sequence>
    </complexType>
  </element>
  <element name="location">
    <complexType mixed="false"/>
  </element>
  <element name="newcontent">
    <complexType mixed="false">
      <sequence>
        <group ref="BasicBlock"/>
        <group ref="section"/>
      </sequence>
      <attributeGroup ref="OptionalId"/>
    </complexType>
  </element>
  <element name="description">
    <complexType mixed="false">
      <sequence>
        <group ref="BasicBlock"/>
      </sequence>
    </complexType>
  </element>
  <element name="amend">
    <complexType mixed="false">
      <sequence>
        <group ref="AmendType"/>
      </sequence>
    </complexType>
  </element>
  <element name="section">
    <complexType mixed="false">
      <sequence>
        <group ref="Basic-Section"/>
        <group ref="section"/>
      </sequence>
    </complexType>
  </element>
  <element name="sections">
    <complexType mixed="false">
      <sequence>
        <element ref="section"/>
      </sequence>
    </complexType>
  </element>
  <element name="references">
    <complexType mixed="false">
      <sequence>
        <group ref="section-title"/>
        <group ref="BasicBlock"/>
        <group ref="bibitem"/>
      </sequence>
      <attributeGroup ref="OptionalId"/>
    </complexType>
  </element>
  <element name="document">
    <complexType mixed="false">
      <sequence>
        <element ref="bibdata"/>
        <element ref="sections"/>
        <element ref="references"/>
      </sequence>
    </complexType>
  </element>
  <simpleType name="LanguageType">
    <restriction base="xs:string"/>
  </simpleType>
  <simpleType name="ScriptType">
    <restriction base="xs:string"/>
  </simpleType>
  <simpleType name="LocaleType">
    <restriction base="xs:string"/>
  </simpleType>
  <simpleType name="IdRefType">
    <restriction base="xs:IDREF"/>
  </simpleType>
  <simpleType name="MIMEType">
    <restriction base="xs:string"/>
  </simpleType>
  <complexType name="Basic-Section-Attributes" mixed="false">
    <sequence>
      <group ref="LocalizedStringAttributes"/>
    </sequence>
    <attributeGroup ref="OptionalId"/>
  </complexType>
  <complexType name="erefType" mixed="false">
    <sequence>
      <group ref="CitationType"/>
      <group ref="ErefBody"/>
    </sequence>
    <attributeGroup ref="erefAttributes"/>
  </complexType>
  <complexType name="ParagraphType" mixed="false">
    <sequence>
      <group ref="ParagraphBody"/>
    </sequence>
    <attributeGroup ref="RequiredId"/>
    <attributeGroup ref="ParagraphAttributes"/>
  </complexType>
  <complexType name="AmendType" mixed="false">
    <sequence>
      <element ref="classification"/>
      <element ref="location" minOccurs="0" maxOccurs="1"/>
      <element ref="newcontent" minOccurs="0" maxOccurs="1"/>
      <element ref="description" minOccurs="0" maxOccurs="unbounded"/>
      <group ref="contributor"/>
    </sequence>
    <attribute use="optional" name="change">
      <simpleType>
        <restriction base="xs:string">
          <enumeration value="add"/>
          <enumeration value="modify"/>
          <enumeration value="delete"/>
          <enumeration value="replace"/>
        </restriction>
      </simpleType>
    </attribute>
    <attributeGroup ref="OptionalId"/>
  </complexType>
  <attributeGroup name="OptionalId"/>
  <attributeGroup name="RequiredId">
    <attribute use="optional" name="id" type="xs:ID"/>
  </attributeGroup>
  <attributeGroup name="ParagraphAttributes"/>
  <attributeGroup name="NoteAttributes">
    <attributeGroup ref="NumberingAttributes"/>
  </attributeGroup>
  <attributeGroup name="ReviewAttributes">
    <attribute use="optional" name="reviewer" type="xs:string"/>
  </attributeGroup>
  <attributeGroup name="NumberingAttributes"/>
  <attributeGroup name="FormulaAttributes">
    <attributeGroup ref="NumberingAttributes"/>
  </attributeGroup>
  <attributeGroup name="QuoteAttributes"/>
  <attributeGroup name="SourceAttributes">
    <attributeGroup ref="NumberingAttributes"/>
  </attributeGroup>
  <attributeGroup name="PreAttributes"/>
  <attributeGroup name="TableAttributes">
    <attributeGroup ref="NumberingAttributes"/>
  </attributeGroup>
  <attributeGroup name="TdAttributes"/>
  <attributeGroup name="ThAttributes">
    <attributeGroup ref="TdAttributes"/>
  </attributeGroup>
  <attributeGroup name="ExampleAttributes">
    <attributeGroup ref="NumberingAttributes"/>
  </attributeGroup>
  <attributeGroup name="AdmonitionAttributes">
    <attribute use="optional" name="type" type="xs:string"/>
  </attributeGroup>
  <attributeGroup name="FigureAttributes">
    <attributeGroup ref="NumberingAttributes"/>
  </attributeGroup>
  <attributeGroup name="erefAttributes">
    <attribute use="optional" name="citeas" type="xs:string"/>
  </attributeGroup>
  <attributeGroup name="HyperlinkAttributes">
    <attribute use="optional" name="target" type="xs:anyURI"/>
  </attributeGroup>
  <attributeGroup name="XrefAttributes">
    <attribute use="optional" name="target" type="xs:string"/>
  </attributeGroup>
  <attributeGroup name="FnAttributes">
    <attribute use="optional" name="reference" type="xs:string"/>
  </attributeGroup>
  <attributeGroup name="ImageAttributes">
    <attributeGroup ref="MediaAttributes"/>
    <attributeGroup ref="MediaAccessibilityAttributes"/>
  </attributeGroup>
  <attributeGroup name="VideoAttributes">
    <attributeGroup ref="MediaAttributes"/>
    <attributeGroup ref="MediaAccessibilityAttributes"/>
  </attributeGroup>
  <attributeGroup name="AudioAttributes">
    <attributeGroup ref="MediaAttributes"/>
    <attributeGroup ref="MediaAccessibilityAttributes"/>
  </attributeGroup>
  <attributeGroup name="MediaAttributes">
    <attribute use="optional" name="src" type="xs:anyURI"/>
    <attribute use="optional" name="mimetype" type="xs:string"/>
  </attributeGroup>
  <attributeGroup name="MediaAccessibilityAttributes"/>
  <attributeGroup name="StemAttributes">
    <attribute use="optional" name="type">
      <simpleType>
        <restriction base="xs:string">
          <enumeration value="MathML"/>
          <enumeration value="AsciiMath"/>
          <enumeration value="LaTeX"/>
        </restriction>
      </simpleType>
    </attribute>
  </attributeGroup>
  <attributeGroup name="OlAttributes">
    <attribute use="optional" name="type" type="xs:string"/>
  </attributeGroup>
</schema>
