spec/fixtures/metanorma-model-iso-grammars/bsi.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <group name="bdate">
    <sequence>
      <element ref="date"/>
    </sequence>
  </group>
  <group name="floating-section-title">
    <sequence>
      <element ref="section-title"/>
    </sequence>
  </group>
  <group name="clause-hanging-paragraph-with-footnote">
    <sequence>
      <element ref="clause"/>
    </sequence>
  </group>
  <element name="date" type="date_type"/>
  <element name="structuredidentifier">
    <complexType mixed="false">
      <sequence>
        <sequence>
          <group ref="documentnumber"/>
          <group ref="tc-documentnumber"/>
        </sequence>
      </sequence>
    </complexType>
  </element>
  <element name="section-title" type="section-title_type"/>
  <element name="sections">
    <complexType mixed="false">
      <sequence>
        <group ref="clause"/>
        <group ref="definitions"/>
        <group ref="floating-section-title" minOccurs="0" maxOccurs="1"/>
        <group ref="floating-section-title" minOccurs="0" maxOccurs="1"/>
        <group ref="floating-section-title" minOccurs="0" maxOccurs="1"/>
        <group ref="floating-section-title" minOccurs="0" maxOccurs="1"/>
        <group ref="floating-section-title" minOccurs="1" maxOccurs="unbounded"/>
      </sequence>
    </complexType>
  </element>
  <element name="term">
    <complexType mixed="false">
      <sequence>
        <group ref="preferred"/>
        <group ref="admitted"/>
        <group ref="deprecates"/>
        <group ref="termdomain"/>
        <group ref="termdefinition"/>
        <group ref="termnote"/>
        <group ref="termexample"/>
        <group ref="termsource"/>
        <group ref="term"/>
      </sequence>
      <attributeGroup ref="TermAttributes"/>
    </complexType>
  </element>
  <element name="clause">
    <complexType mixed="false">
      <sequence>
        <group ref="section-title"/>
        <group ref="BasicBlock"/>
        <group ref="clause-hanging-paragraph-with-footnote" minOccurs="0" maxOccurs="unbounded"/>
      </sequence>
      <attributeGroup ref="Section-Attributes"/>
    </complexType>
  </element>
  <element name="annex">
    <complexType mixed="false">
      <sequence>
        <group ref="section-title"/>
        <group ref="BasicBlock"/>
        <group ref="annex-appendix"/>
        <group ref="clause-hanging-paragraph-with-footnote" minOccurs="0" maxOccurs="unbounded"/>
      </sequence>
      <attributeGroup ref="Annex-Section-Attributes"/>
    </complexType>
  </element>
  <element name="foreword">
    <complexType mixed="false">
      <sequence>
        <group ref="Basic-Section"/>
      </sequence>
    </complexType>
  </element>
  <element name="introduction">
    <complexType mixed="false">
      <sequence>
        <group ref="Content-Section"/>
      </sequence>
    </complexType>
  </element>
  <element name="preface">
    <complexType mixed="false">
      <sequence>
        <element ref="foreword"/>
        <element ref="introduction"/>
        <group ref="abstract"/>
      </sequence>
    </complexType>
  </element>
  <simpleType name="AdmonitionType">
    <restriction base="xs:string">
      <enumeration value="commentary"/>
    </restriction>
  </simpleType>
  <complexType name="date_type" mixed="true">
    <choice>
      <sequence>
        <element name="from">
          <complexType mixed="false">
            <sequence>
              <group ref="ISO8601Date"/>
            </sequence>
          </complexType>
        </element>
        <element name="to" minOccurs="0" maxOccurs="1">
          <complexType mixed="false">
            <sequence>
              <group ref="ISO8601Date"/>
            </sequence>
          </complexType>
        </element>
      </sequence>
      <element name="on">
        <complexType mixed="false"/>
      </element>
    </choice>
    <attribute use="optional" name="type" type="xs:string"/>
  </complexType>
  <complexType name="section-title_type" mixed="true">
    <sequence>
      <group ref="TextElement"/>
    </sequence>
    <attribute use="optional" name="id" type="xs:ID"/>
    <attribute use="optional" name="depth" type="xs:int"/>
  </complexType>
  <complexType name="Clause-Section" mixed="false">
    <sequence>
      <group ref="section-title"/>
    </sequence>
    <attribute use="optional" name="type" type="xs:string"/>
    <attributeGroup ref="Section-Attributes"/>
  </complexType>
  <complexType name="Content-Section" mixed="false">
    <sequence>
      <group ref="section-title"/>
    </sequence>
    <attribute use="optional" name="type" type="xs:string"/>
    <attributeGroup ref="Section-Attributes"/>
  </complexType>
  <attributeGroup name="AdmonitionAttributes">
    <attribute use="optional" name="target" type="xs:IDREF"/>
  </attributeGroup>
</schema>
