spec/fixtures/metanorma-model-iso-grammars/isostandard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="isodoc.xsd"/>
  <xs:element name="term">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="preferred"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="admitted"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="deprecates"/>
        <xs:element minOccurs="0" ref="domain"/>
        <xs:element ref="definition"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="termnote"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="termexample"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="termsource"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="term"/>
      </xs:sequence>
      <xs:attributeGroup ref="TermAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="AdmonitionType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="danger"/>
      <xs:enumeration value="caution"/>
      <xs:enumeration value="warning"/>
      <xs:enumeration value="important"/>
      <xs:enumeration value="safety precautions"/>
      <xs:enumeration value="editorial"/>
      <xs:enumeration value="commentary"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="preface">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="abstract"/>
        <xs:element ref="foreword"/>
        <xs:element minOccurs="0" ref="introduction"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="foreword" type="Basic-Section"/>
  <xs:element name="introduction" type="Content-Section"/>
  <xs:complexType name="Content-Section">
    <xs:sequence>
      <xs:group minOccurs="0" ref="section-title"/>
      <xs:choice>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="BasicBlock"/>
        <xs:group maxOccurs="unbounded" ref="content-subsection"/>
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="Section-Attributes"/>
    <xs:attribute name="type"/>
  </xs:complexType>
  <!-- end overrides -->
</xs:schema>
