examples/01-simple/schemas/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/person"
           xmlns:p="http://example.com/person"
           elementFormDefault="qualified">

  <!-- Simple Person schema for demonstration -->

  <xs:element name="person" type="p:PersonType">
    <xs:annotation>
      <xs:documentation>
        A person with basic contact information
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>
        Person type with name, age, email, and optional address
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Full name of the person</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="age" type="p:AgeType">
        <xs:annotation>
          <xs:documentation>Age in years (0-150)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="email" type="p:EmailType">
        <xs:annotation>
          <xs:documentation>Email address</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="address" type="p:AddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Optional postal address</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required">
      <xs:annotation>
        <xs:documentation>Unique identifier for the person</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:simpleType name="AgeType">
    <xs:annotation>
      <xs:documentation>
        Age restricted to realistic values (0-150)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="150"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EmailType">
    <xs:annotation>
      <xs:documentation>
        Email address with basic format validation
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[^@]+@[^@]+\.[^@]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="AddressType">
    <xs:annotation>
      <xs:documentation>
        Postal address with street, city, and postal code
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="street" type="xs:string"/>
      <xs:element name="city" type="xs:string"/>
      <xs:element name="postalCode" type="xs:string"/>
      <xs:element name="country" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>