spec/fixtures/metanorma-model-iso-grammars/trang/bsi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="relaton-bsi.xsd"/>
  <xs:include schemaLocation="isostandard.xsd"/>
  <xs:complexType name="Clause-Section">
    <xs:sequence>
      <xs:group minOccurs="0" ref="section-title"/>
      <xs:choice>
        <xs:choice>
          <xs:group maxOccurs="unbounded" ref="BasicBlock"/>
          <xs:element ref="amend"/>
        </xs:choice>
        <xs:choice maxOccurs="unbounded">
          <xs:group ref="clause-subsection"/>
          <xs:element ref="floating-title"/>
        </xs:choice>
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="Section-Attributes"/>
    <xs:attribute name="type"/>
  </xs:complexType>
  <xs:element name="annex">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="section-title"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="BasicBlock"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="clause-hanging-paragraph-with-footnote"/>
          <xs:element ref="floating-title"/>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="appendix"/>
      </xs:sequence>
      <xs:attributeGroup ref="Annex-Section-Attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="clause-hanging-paragraph-with-footnote">
    <xs:sequence>
      <xs:element name="clause">
        <xs:complexType>
          <xs:sequence>
            <xs:group minOccurs="0" ref="section-title"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="BasicBlock"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="clause-hanging-paragraph-with-footnote"/>
              <xs:element ref="floating-title"/>
            </xs:choice>
          </xs:sequence>
          <xs:attributeGroup ref="Section-Attributes"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="sections">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="note"/>
          <xs:group ref="admonition"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:element ref="floating-title"/>
          <xs:element ref="section-title"/>
        </xs:choice>
        <xs:group ref="clause"/>
        <xs:choice minOccurs="0">
          <xs:element ref="floating-title"/>
          <xs:element ref="section-title"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:group ref="term-clause"/>
          <xs:element ref="terms"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:element ref="floating-title"/>
          <xs:element ref="section-title"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="definitions"/>
        <xs:choice minOccurs="0">
          <xs:element ref="floating-title"/>
          <xs:element ref="section-title"/>
        </xs:choice>
        <xs:choice maxOccurs="unbounded">
          <xs:group ref="clause"/>
          <xs:group ref="term-clause"/>
          <xs:element ref="terms"/>
          <xs:element ref="floating-title"/>
          <xs:element ref="section-title"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- end overrides -->
  <xs:element name="section-title">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="TextElement"/>
      <xs:attribute name="id" use="required" type="xs:ID"/>
      <xs:attribute name="depth" use="required" type="xs:int"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
