spec/fixtures/metanorma-model-iso-grammars/trang/reqt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="requirement" type="RequirementType"/>
  <!-- ALERT: cannot have root comments, because of https://github.com/metanorma/metanorma/issues/437 -->
  <!--
    Presupposes isodoc.rnc, is included in it
    include "isodoc.rnc" { }
    
    This is the Metanorma default provisions model; it is overridden by other provisions models,
    such as Modspec
  -->
  <xs:element name="recommendation" type="RequirementType"/>
  <xs:element name="permission" type="RequirementType"/>
  <xs:complexType name="RequirementType">
    <xs:sequence>
      <xs:group minOccurs="0" ref="reqtitle">
        <xs:annotation>
          <xs:documentation>Human-readable title of the requirement</xs:documentation>
        </xs:annotation>
      </xs:group>
      <xs:group minOccurs="0" ref="reqtlabel">
        <xs:annotation>
          <xs:documentation>Formal identifier with which the requirement is referenced</xs:documentation>
        </xs:annotation>
      </xs:group>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="subject">
        <xs:annotation>
          <xs:documentation>The party subject to the obligation stated in the requirement</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="inherit">
        <xs:annotation>
          <xs:documentation>Reference to the identifier of another requirement, of which this requirement
is a subclass, and from which it inherits attributes</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="classification">
        <xs:annotation>
          <xs:documentation>Key/Value pairs of metadata used to describe the requirement.
A key can be associated with multiple values</xs:documentation>
        </xs:annotation>
      </xs:group>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="measurement-target">
          <xs:annotation>
            <xs:documentation>Quantitative statement of metrics that the requirement realises</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="specification">
          <xs:annotation>
            <xs:documentation>Formal specification of the requirement. Expected to be machine-readable</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="verification">
          <xs:annotation>
            <xs:documentation>Processes or code used to verify that the requirement is being complied
with. Can be a test (including test code), or a compliance statement</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="import">
          <xs:annotation>
            <xs:documentation>A reference to source code or a statement of prerequisites which is defined elsewhere</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:group ref="description">
          <xs:annotation>
            <xs:documentation>Descriptive statement of the content of the requirement. Is expected to
be human-readable, and to contain formatting markup following Metanorma
conventions. Is expected to be discursive, and be resumed after
interruption by other sub-containers</xs:documentation>
          </xs:annotation>
        </xs:group>
        <xs:element ref="component">
          <xs:annotation>
            <xs:documentation>Provisions nested within this provision, which cannot be referenced autonomously and have
subclasses specific to the parent provision. Not expressed with provision metadata</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:group minOccurs="0" ref="reqt_references">
        <xs:annotation>
          <xs:documentation>A list of references for the requirement, following the Relaton model</xs:documentation>
        </xs:annotation>
      </xs:group>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Provisions nested within this provision, which are self-standing and do not have
subclasses specific to the parent provision</xs:documentation>
        </xs:annotation>
        <xs:element ref="requirement"/>
        <xs:element ref="recommendation"/>
        <xs:element ref="permission"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="obligation">
      <xs:annotation>
        <xs:documentation>An attribute that may be used to override the obligation represented in
the tag name of the top level containers</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="id" use="required" type="xs:ID"/>
    <xs:attributeGroup ref="NumberingAttributes"/>
    <xs:attributeGroup ref="BlockAttributes"/>
    <xs:attribute name="filename">
      <xs:annotation>
        <xs:documentation>File name of the requirement model when exported</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="model">
      <xs:annotation>
        <xs:documentation>Model of requirements realised by this requirement, e.g. "ogc" for Modspec.
Current legal values: ogc, default</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="render">
      <xs:annotation>
        <xs:documentation>Rendering of requirements realised by this requirement. Current legal values:
default:: default, inline
ogc:: default</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type">
      <xs:annotation>
        <xs:documentation>Type of requirement; does not override labelling, unlike `class`</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="class">
      <xs:annotation>
        <xs:documentation>Class of provision, used to sequence and label that class separately.
By default, provisions are sequenced and labelled as requirements, recommendations, or
permissions, by obligation; the class overrides that</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:group name="reqtitle">
    <xs:sequence>
      <xs:element name="title" type="LocalizedMarkedUpString"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="reqtlabel">
    <xs:sequence>
      <xs:element name="identifier">
        <xs:complexType mixed="true">
          <xs:group maxOccurs="unbounded" ref="TextElement"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="inherit">
    <xs:complexType mixed="true">
      <xs:group maxOccurs="unbounded" ref="TextElement"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="measurement-target" type="RequirementSubpart"/>
  <xs:element name="specification" type="RequirementSubpart"/>
  <xs:element name="verification" type="RequirementSubpart"/>
  <xs:element name="import" type="RequirementSubpart"/>
  <xs:group name="description">
    <xs:sequence>
      <xs:element name="description" type="RequirementSubpart"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="component">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="RequirementSubpart">
          <xs:attribute name="class" use="required">
            <xs:annotation>
              <xs:documentation>Class of component</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:group name="reqt_references">
    <xs:sequence>
      <xs:element name="references">
        <xs:complexType>
          <xs:group maxOccurs="unbounded" ref="bibitem"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="RequirementSubpart">
    <xs:annotation>
      <xs:documentation>A subcontainer can be either machine-readable or human-readable, or a
mixture of the two.
A machine-readable component can be included as source code with
nomination of the language</xs:documentation>
    </xs:annotation>
    <xs:choice maxOccurs="unbounded">
      <xs:annotation>
        <xs:documentation>Content of subpart: blocks, rather than provisions</xs:documentation>
      </xs:annotation>
      <xs:group ref="BasicBlock"/>
      <xs:element ref="component"/>
    </xs:choice>
    <xs:attribute name="type">
      <xs:annotation>
        <xs:documentation>Type of sub-container.
For example a `verification[@type = "unit-test"]` contains a unit test of a single
feature, and is to be treated differently from
`verification[@type = "comprehensive"]`, which represents a comprehensive test suite</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="exclude" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>Indicates that the current sub-container is only intended to be
machine-readable, and is not to be rendered as document output</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="BlockAttributes"/>
  </xs:complexType>
</xs:schema>
